.cabecalho {
    align-items: center;
    background-color: rgba(31, 222, 203, 0.97);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: fixed;
    width: calc(100% - 32px);
    z-index: 3;
}

.cabecalho__logo {
    height: 48px;
}

.cabecalho__titulo-principal {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 32px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.cabecalho__icone-menu {
    margin-right: 20px;
    cursor: pointer;
}

.cabecalho__icone-seta {
    width: 24px;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usuario__nome {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 24px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width:1024px) {

    .cabecalho__titulo-principal {
        font-size: 48px;

    }


}