.perfil-logo {
    display: flex;
    align-items: baseline;
}

.cabecalho__titulo-principal {
    margin-left: 8px;
}

.usuario__foto-nome, .perfil-usuario {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__fundo {
    margin-top: 100px;
    width: calc(100% - 32px);
    border-radius: 24px;
    object-fit: cover;
    height: 60vh;
}

.usuario__foto-nome {
    margin-top: 160px;
    position: absolute;
    align-items: center;
    display: flex;
    height: 45vh;
    justify-content: space-around;
    align-items: center;

}

.foto-usuario {
    object-fit: cover;
    width: 200px;

}

.perfil__usuario-nome {
    justify-self: flex-end;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.titulo__feed {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #009420;
    margin-top: 48px;
    padding: 48px 0;
    align-self: end;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.botao-doacao {
    padding: 32px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 160px;
    width: 50%;
    margin-bottom: 32px;
    cursor: pointer;
    background-color: rgba(0, 255, 64, 0.2);
}

.imgs__doacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 32px;



}

.causas-ambientais__imagem {
    width: 100%;
}

.preservacao__img, .concientizacao__img {
    margin-right: 16px;
    width: 20%;
}

.suas-doacoes {
    background-color: rgba(0, 255, 64, 0.2);
}

.doacao-valor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.numeros-doacoes {
    font-family: 'Righteous', cursive;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width:1024px) {

    .usuario__foto-nome {
        position: absolute;
        margin-top: 60vh;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;


    }

    .perfil__usuario-nome {
        font-size: 50px;
    }

    .foto-usuario {
        margin: 0 24px 0 48px;
    }

    .imgs__doacao {
        flex-direction: row;
    }

    .botao-doacao {
        width: 15%;
        border-radius: 100px;
    }

    .preservacao__img, .concientizacao__img {
        margin-right: 32px;
        width: 10%;

    }

    .numeros-doacoes {
        font-size: 60px;
    }
}